body{
    margin: 0;
}

/* HEADER */

header{
    background-color: rgb(36, 34, 34);
    height: 50px;
    display: flex;
}
.fa-solid{
    /* font-size: 50px; */
    
}
.form-control{
    /* background-color: blue; */
    /* padding: 40px; */
    /* margin-left: 50px; */
    /* float: right; */
}
header nav{
    display: flex;
    /* justify-content: space-between; */
    margin-right: 350px;
}
header nav a{
    font-size: 30px;
    color: white;
    text-decoration: solid;
    margin-left: 20px;
}
.input-group{
    margin-top: 4px;
    margin-bottom: 6px;
    margin-right: 4px;
}
/* SECTION1 */
.left1{
    background-color: aqua;
    height: 540px;
}
.left{
    text-align: center;
    /* display: flex; */
}


.p2{
    font-size: 60px;
}
.p{
    color: orange;
    font-size: 60px;
    /* margin-right: 20px;  */
}
.pp{
    color: black;
    font-size: 60px;
}
.car{
    /* text-align: center; */
    display: flex;
    /* text-align: center; */
    margin-left: 20%;
    padding-top: 40px;
}
.button1{
    background-color: rgb(188, 131, 26);
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
    border: none;
}
.button1:hover{
    background-color: aquamarine;
}
.button2{
    background-color: brown;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.button2:hover{
    background-color: orange;
}
/* section2 */
.h1{
    color: orange;
    /* font-size: 50px; */
    text-align: center;
}


.p1{
    text-align: center;
}
/* section3 */
.rigth{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.rigth1{
    /* background-color: aqua; */
    margin-right: 20px;
}
.rigth2{
    margin-right: 20px;
}
.rigth3{
    color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: white;
}
.rigth3:hover{
    background-color: chocolate;
    color: aliceblue;
}
/* section5 */
.im{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 10px;
}
.im h1{
    color: aqua;
}
.img{
    /* border: 2px solid rgb(72, 68, 68); */
    width: 200px;
    height: 200px;
    
    /* position: absolute; */
    /* z-index: 1; */
    /* margin-left: 40px; */
    /* margin-bottom: 0%; */
}
.img1{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    /* position: absolute; */
    /* z-index: 2; */
    /* margin-left: 40px; */
}
.img2{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    /* position: absolute; */
    /* margin-left: 40px; */
}
.img3{
    margin-top: 60px;
    width: 200px;
    height: 200px;
    /* position: absolute; */
    /* margin-left: 40px; */
}
.orde{
    margin-top: 30px;
    /* background-color: aqua; */
}
.order{
    /* border: 1px solid blue; */
    height: 200px;
   
    /* background-color: aqua; */
}
.order1{
    /* border: 1px solid blue; */
    /* height: 200px; */
    /* margin-top: 30px; */
    /* background-color: aqua; */
}
/* section6 */
.span{
    background-color: rgb(62, 59, 59);
    height: 600px;
    color: white;
    
}
.span0{
    text-align: center;
}
.span1{
    font-size: 40px;
    color: orange;
    text-align: center;
}
.content{
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    display: flex;
    justify-content: space-between;
}
.content1{
    background-color: aliceblue;
}
.div{
    float: right;
}
.content2{
    width: 350px;
    height: 250px;
}
/* SECTION7 */
.section7{
    /* text-align: center; */
    margin-left: 20%;
    margin-right: 20%;
}
/* section8 */
.text{
    margin-left: 30%;
    /* text-align: center; */
}
.h6{
    /* float: left; */
    /* margin-left: ; */
    padding: 30px;
    width: 50%;
}
.name{
    width: 50%;
    /* padding: 15px; */
}
.name1{
    width: 50%;
    color: orange;
    border: 1px solid orange;
    /* text-align: center; */
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* footer */
footer{

    height: 200px;
    text-align: center;
    color: white;
    background-color: rgb(50, 48, 48);
}
.k{
    font-size: 80px;
}


.progress-bar{
    background-color: aqua;
}
.bg-secondary mb-3{
    background-color: black;
}
@media screen and (max-width: 900px){
    header{
        width: 100%;
        /* background-color: aliceblue; */
    }
    .left1{
        width: 100%;
    }
    .left{
        /* background-color: aliceblue; */
    }
    .car{
        /* background-color: antiquewhite; */
        flex-direction: column;
        margin: 0%;
    }
    .im{
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        /* flex-direction: column; */
    }
    .im img{
        width: 100%;
        margin-right: 0%;
    }
    .img{
        /* width: 300px; */
    }
    .rigth{
        margin: 0%;
        width:100%;
        /* flex-direction: column; */
        /* background-color: aliceblue; */
    }
    .span{
        height: 80%;
        width: 100%;
        margin: 0%;
       
    }
    .p1{
        /* margin-left: 0%; */
        width: 600px;
    }
    .content{
        /* background-color: aliceblue; */
        /* width: 100px; */
        flex-direction: column;
        margin: 0%;
    }
    .content1{
        width: 100%;
        margin: 0%;
    }
    .content2{
        width: 100%;
    }
    .section7{
        margin-left: 0%;
        width: 100%;
        
    }
    .SECTION8{
        margin-left: 0%;
        width: 80%;
    }
    .footer{
        width: 100%;
        /* background-color: aliceblue; */
    }
}
@media screen and (max-width: 700px){
    header{
        width: 100%;
    }
    .span{
        /* background-color: a; */
        width: 100%;
        /* background-color: aqua; */
    }
    .content{
        width: 100%;
        margin: 0%;
    }
    .car{
        /* width: 100%; */
        /* margin-right: 0%; */
        margin-left: 0%;
        text-align: center;
    }
    .section7{
        margin: 0;
        width: 80%;
    }
    .content2{
        width: normal;
    }
    .im img{
        width: 200px;
        margin: 0%;
    }
    .p1{
        /* background-color: aquamarine; */
        text-align: center;
        width: 80%;
    }
    .im{
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0%;
    }
    .projet{
        /* background-color: bisque; */
        text-align: start;
        width: 100%;
        /* background-color: aqua; */
    }
    .left1{
        /* width: 100%; */
        /* display: flex; */
        margin: 0;
    }
    .rigth{
        flex-direction: column;
        /* margin-left: 10%; */
        text-align: center;
        width: 100%;
        
    }
    .p3{
        /* background-color: aqua; */
        width: 80%;
        margin: 0%;
    }
    .k{
        font-size: 80px;
    }
    .p{
        font-size: 40px;
        margin-right: 0%;
    }
    .car{
        flex-direction: column;
        width: 100%;
    }
    .SECTION8{
        width: 100%;
        margin: 0;
    }
    footer{
        width: 100%;
        /* margin-right: 100%; */
        /* background-color: aliceblue; */
    }
}
@media screen and (max-width: 300px){
    header{
        width: 160%;
    }
    .left1{
        /* background-color: aliceblue; */
        width: 160%;
        /* font-size: ; */
        flex-direction: column;
    }
    .img{
        /* width: 600px; */
    }
    .p{
        margin-right: 0%;
        font-size: 20px;
    }
    .p1{
        /* color: antiquewhite; */
        /* text-align: center;
         */
         /* justify-items: center; */
    }
    .pp{
        font-size: 20px;
    }
    .left{
        flex-direction: column;
    }
    .car{
        /* background-color: aqua; */
        /* width: 100%; */
        flex-direction: column;
        text-align: center;
        /* text-align: left; */
        margin-left: 0%;
        /* font-size: 0px; */
    }
    .projet{
        /* text-align: center; */
        margin-left: 30%;
    }
    .row{
        /* text-align: center; */
    }
    .k{
        font-size: 200px;
        margin: 0;
    }
    .orde{
        /* text-align: center; */
        /* justify-items: center; */
        /* margin-left: 40%; */
        /* background-color: aquamarine; */
        /* margin-right: 0; */
    }
    .rigth{
        /* width: 180%; */
        /* background-color: aqua; */
        flex-direction: column;
        width: 160%;
        margin: 0%;
    }
    .span{
        width: 160%;
        margin: 0%;
    }
    .text{
        margin: 0;
    }
    .p4{
        text-align: center;
        margin-left: 50%;
    }
    .im{
        /* text-align: center; */
    }
    .im img{
        width: 80%;
        /* text-align: center; */
        margin-left: 40%;
    }
    .section7{
        /* background-color: aqua; */
        width: 160%;
        margin: 0%;
    }
    .SECTION8{
        /* background-color: aqua; */
        width: 160%;
        /* margin-left: 30%; */
    }
    .A{
        margin-left: 30%;
    }
    .footer{
        width: 160%;
        /* padding: 50%; */
        margin: 0%;
        /* text-align: start; */
        /* background-color: aliceblue; */
    }
    footer h1{
        /* flex-wrap: wrap; */
        font-size: 20px;
        /* margin: 0%; */
        /* padding: 40%; */
    }
}
/* @media screen and (max-width: 400px){
    header{
        width: 100%;
        background-color: rebeccapurple;
    }
    .header nav{
        margin-right: 0px;
        justify-content: baseline;
    }
    header nav a{
        font-size: 10px;
    }
    .left1{
        width: 100%;
        background-color: bisque;
        
    }
    .car{
        flex-direction: column;
        
    }
    
    .content2{
        width: 100%;
        height: 50px;
    }
    .h1{
        width: 100%;
    }
    .p{
        margin-right: 0%;
    }
    .p1{
        width: 100%;
        
    }
    .rigth{
        width: 100%;
        flex-direction: column;
        margin-left: 0px;
    }
    .content{
        flex-direction: column;
    }
    .im{
        width: 100%;
        flex-direction: column;
        margin-left: 5px;
    }
    .span{
        width: 100%;
        height: 700px;
    }
    .section7{
        width: 100%;
        margin-left: 0%;
    }
    .SECTION8{
        width: 100%;
    }
    footer{
        width: 100%;
    }
} */
/* @media screen and (max-width: 600px){
    header{
        background-color: red;
        width: 1060px;
        margin-right: O;
    } 
    header nav{
        margin-right: 20px;
    }
    header nav a{
        
    }
    .left1{
        width: 1000px;
    }
} */